@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #101011;
  --background-secondary: #18191b;
  --text-secondary: #9b9da4;
  --active-color: #0066f5;
}

.navbar{
  background-color: var(--background-primary);
  color: var(--text-secondary);
}

.main{
  color: white;
  background-color: var(--background-secondary);
}

.secondaryText{
  color: var(--text-secondary);
}

.audioPlayer{
  background-color: #0a0a0b;
}
.icon {
  opacity: 0.6; 
  transition: opacity 0.3s ease; 
  &:hover {
    opacity: 1; 
    cursor: pointer;
  }
}

.profile{
  background-color: var(--background-primary);
}

.active{
  color: var(--active-color);
}